* {
    font-family: sans-serif;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border: 1px solid aqua;
    border-radius: 1rem;
}
.conainer {
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}